@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@800&display=swap");
:root {
  --font-size: 0.8em;
  --bg1: #f5f8f7;
  --blue: #3498db;
  --green: #2ecc71;
  --purple: #9b59b6;
  --gold: #f1c40f;
  --red: #e74c3c;
  --orange: #e67e22;
  --shadow1: 0 2px 4px #00000026, 0 3px 6px #0000001f;
  --shadow2: 0 2px 6px #00000044, 0 4px 7px #00000022;
}
main {
  padding: 2vw;
}
.heading{
    border: none;
    background: transparent;
}
ul.infoGraphic {
  font-size: var(--font-size);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
ul.infoGraphic li {
  position: relative;
  width: 100%;
  max-width: 35em;
  min-width: 20em;
  background: var(--bg1);
  border-radius: 0.5em;
  padding: 0.5em;
  z-index: 1;
  transition: all 0.2s;
  cursor: pointer;
}
li{
    list-style: none;
}
ul.infoGraphic li .numberWrap {
  position: absolute;
}
ul.infoGraphic li .number {
  font-family: "maven pro", sans-serif;
  font-size: 12em;
  font-weight: 900;
  width: 0.9em;
  text-align: center;
}
ul.infoGraphic li .number.fontColor1 {
  color: var(--blue);
}
ul.infoGraphic li .number.fontColor2 {
  color: var(--green);
}
ul.infoGraphic li .number.fontColor3 {
  color: var(--purple);
}
ul.infoGraphic li .number.fontColor4 {
  color: var(--gold);
}
ul.infoGraphic li .number.fontColor5 {
  color: var(--red);
}
ul.infoGraphic li .number.fontColor6 {
  color: var(--orange);
}
ul.infoGraphic li .coverWrap {
  transform: rotate(130deg);
  position: absolute;
  width: 19em;
  height: 17em;
  left: -3em;
  top: -1em;
}
ul.infoGraphic li .coverWrap .numberCover {
  position: absolute;
  background: var(--bg1);
  width: 18em;
  height: 6em;
  border-radius: 50% 50% 0 0;
  border-bottom: 3px solid #f5f8f7;
  transition: all 0.4s;
}
ul.infoGraphic li .coverWrap .numberCover::before {
  position: absolute;
  content: "";
  bottom: 5px;
  left: 4em;
  right: 4em;
  top: 5em;
  box-shadow: 0 0 30px 17px #48668577;
  border-radius: 100px / 10px;
  z-index: -1;
}
ul.infoGraphic li .coverWrap .numberCover::after {
  position: absolute;
  bottom: 0;
  content: "";
  left: -10%;
  width: 120%;
  height: 150%;
  background: radial-gradient(at bottom, #48668533, transparent, transparent);
  z-index: 1;
}
ul.infoGraphic li .content {
  margin: 8em 3em 1em 7em;
  position: relative;
}
ul.infoGraphic li .content h2 {
  font-size: 1.7em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}
ul.infoGraphic li .content p {
  line-height: 1.5em;
  font-size: 1.3em;
}
ul.infoGraphic li:hover .coverWrap .numberCover {
  border-radius: 100%;
}
.icon {
  position: absolute;
  font-size: 2rem;
  text-align: center;
  top: -1.3em;
  left: 50%;
  transform: translatex(-50%);
}
.icon:before {
  color: #666;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
.iconCodepen:before {
  content: "\f1cb";
}
.iconSocial:before {
  content: "\f08a";
}
.iconAirplane:before {
  content: "\f1d9";
}
.iconMap:before {
  content: "\f278";
}
.iconBulb:before {
  content: "\f0eb";
}
.iconPeace:before {
  content: "\f25b";
}
html {
  height: 100%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.body {
  font-family: "Poppins", sans-serif;
  background: var(--bg1);
  min-height: 100vh;
  color: #444;
  display: grid;
  place-items: center;
  padding: 3rem 1rem 10em;
}




